.navbar-brand{
    color: #fff !important;
}
.navbar{
    background-color: #303841;
}
.navbar .nav-link { 
    padding: .5rem 1rem;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 1px;
}
.navbar-brand img{
    max-width: 200px;
}
.nav-link:focus, .nav-link:hover {
    color: #47bd75 !important;
}